{% load staticfiles %}

@charset "UTF-8";


/***********************************************************************************************************************
Containers
***********************************************************************************************************************/
* {
    font-size:  1.25vw;
    margin:     0;
    padding:    0;
}

/***********************************************************************************************************************
Content
***********************************************************************************************************************/
#content {
    color:      #666;
    float:      left;
    margin:     0;
    padding:    0 5vw;
    position:   relative;
}

/***********************************************************************************************************************
Header
***********************************************************************************************************************/
h2 {
    background-color:   #fff;
    color:              #666;
    font-size:          150%;
    line-height:        1.25;
    padding:            3vh 0 1vh 0;
    width:              70vw;
}

#header h1 {
    background-color:   #fff;
    color:              #06646e;
    font-size:          300%;
    height:             12vh;
    padding:            1vh 4vw;
    margin:             0 0 0 20vw;
    width:              70vw;
}

#header img {
    background-color:   #fff;
    padding:            1vh 5vw;
    position:           absolute;
    width:              10vw;
}

/***********************************************************************************************************************
No print
***********************************************************************************************************************/
.no_print {
    display:    none;
}

/***********************************************************************************************************************
List
***********************************************************************************************************************/
ul {
    color:              #666;
    padding:            1vh 0 0 2vw;
}

/***********************************************************************************************************************
Table
***********************************************************************************************************************/
table.call #logo {
    padding:            0 0 0 3vw;
    width:              12vw;
}

table.call #title {
    color:              #06646e;
    font-size:          200%;
    padding:            0 0 1vhvh 0;
    width:              85vw;
}