{% load staticfiles %}

@charset "UTF-8";

/***********************************************************************************************************************
Alignment
***********************************************************************************************************************/
.center {
    text-align: center;
}

/***********************************************************************************************************************
Containers
***********************************************************************************************************************/
* {
    font-size:  14pt;
    margin:     0;
    padding:    0;
}

html {
    min-height: 100%;
    position:   relative;
}

/***********************************************************************************************************************
Content
***********************************************************************************************************************/
#content {
    color:          #333838;
    flex:           1;
    line-height:    1.5;
    margin:         0 50px 20px 50px;
    text-align:     justify;
}

#content h1 {
    font-size:  140%;
    margin:     0 0 10px 0;
}

#content h2 {
    font-size:  120%;
    margin:     30px 0 10px 0;
}

#content h2.first {
    margin-top: 0;
}

#content h1,
#content h2 {
    background-color:   #fff;
    color:              #333838;
    line-height:        1.0;
}

#content img.logo {
    float:  right;
    margin: 0 0 0 30px;
    width:  120px;
}

#content p {
    margin: 5px 0 0 0;
}

#content ul {
    padding:    5px 0 0 20px;
}

/***********************************************************************************************************************
Footer
***********************************************************************************************************************/
#footer {
    background-color:   #666;
	bottom:             0;
    color:              #fff;
    min-height:         10px;
    left:               0;
    position:           absolute;
	width:              100%;
}

/***********************************************************************************************************************
Header
***********************************************************************************************************************/
#header {
    display:        flex;
    margin-bottom:  10px;
}

#header #title {
    background-color:   #fff;
    color:              #06646e;
    flex-grow:          1;
    margin:             0 50px;
}

#header h1 {
    font-size:  200%;
}

#header h2 {
    font-size:  140%;
}

#header img {
    background-color:   #fff;
    margin:             10px 50px;
    position:           relative;
    width:              150px;
}

/***********************************************************************************************************************
Main
***********************************************************************************************************************/
#main {
    display: flex;
}

/***********************************************************************************************************************
Navigation bar
***********************************************************************************************************************/
#navigation_bar {
    background-color:   #fff;
    bottom:             0;
    width:              250px;
}

#navigation_bar a {
    text-decoration:    none;
}

#navigation_bar > ul > li {
    margin: 0 0 2px 0;
}

#navigation_bar > ul > li:last-child {
    margin: 0;
}

#navigation_bar > ul > li > a {
    background-color:   #65888c;
    border-radius:      0 4px 4px 0;
    color:              #fff;
    display:            block;
}

#navigation_bar > ul > li > a:hover {
    background-color:   #06646e;
}

#navigation_bar > ul > li > a > span {
    display:        block;
    padding:        10px 50px 10px 10px;
    font-size:      100%;
}

#navigation_bar > ul > li.active > a {
    background:     #06646e;
}

#navigation_bar > ul > li.has-sub > a span {
    background: url(../images/navigation-bar/icon-plus.png) 225px center no-repeat;
}

#navigation_bar > ul > li.has-sub.active > a span {
    background: url(../images/navigation-bar/icon-minus.png) 225 center no-repeat;
}

#navigation_bar ul ul {
    display:    none;
    padding:    5px 10px 5px 20px;
}

#navigation_bar ul ul a {
    color:      #333838;
    display:    block;
}

#navigation_bar ul ul a:hover {
    color:  #06646e;
}

#navigation_bar ul ul a > span {
    font-size:  80%;
}

/***********************************************************************************************************************
No show
***********************************************************************************************************************/
.no_show {
    display:    none;
}