{% load staticfiles %}

@charset "UTF-8";

/***********************************************************************************************************************
Alignment
***********************************************************************************************************************/
.center {
    text-align: center;
}

/***********************************************************************************************************************
Containers
***********************************************************************************************************************/
* {
    font-size:  14pt;
    margin:     0;
    padding:    0;
}

html {
    min-height: 100%;
    position:   relative;
}

/***********************************************************************************************************************
Content
***********************************************************************************************************************/
#content {
    color:          #333838;
    flex:           1;
    line-height:    1.5;
    margin:         0 50px 400px 50px;
    text-align:     justify;
}

#content h1 {
    font-size:  140%;
    margin:     0 0 10px 0;
}

#content h2 {
    font-size:  120%;
    margin:     30px 0 10px 0;
}

#content h2.first {
    margin-top: 0;
}

#content h1,
#content h2 {
    background-color:   #fff;
    color:              #333838;
    line-height:        1.0;
}

#content img.logo {
    float:  right;
    margin: 0 0 0 30px;
    width:  120px;
}

#content img.logo-large {
    margin-left:        auto;
    margin-right:       auto;
    width:  80%;
}

#content p {
    margin: 5px 0 0 0;
}

#content ul {
    padding:    5px 0 0 20px;
}

/***********************************************************************************************************************
Select
***********************************************************************************************************************/
select {
    border:     1px solid #aaa;
    background: transparent;
    color:      #333838;
    font-size:  100%;
    margin:     0 0 5px 0;
    min-width:  30px;
    padding:    5px 5px;
}

select option {
    color:      #333838;
    font-size:  70%;
}

/***********************************************************************************************************************
Footer
***********************************************************************************************************************/
.footer-distributed {
    background-color:   #b6dce0;
    bottom:             0;
    color:              #333838;
    font:               bold 120% sans-serif;
    left:               0;
    /* padding:            50px 5%; */
    position:           absolute;
	text-align:         left;
	width:              100%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display:        inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
    margin: 50px 2.5% 50px 5%;
    width: 30%;
}

/* The company logo */
.footer-distributed .footer-left img {
    width:  200px;
}

/* Footer links */
.footer-distributed .footer-links {
	color:      #333838;
	margin:     20px 0 12px;
	padding:    0;
}

.footer-distributed .footer-links a {
    color:              inherit;
	display:            inline-block;
	line-height:        1.5;
	text-decoration:    none;
}

.footer-distributed .footer-company-name {
	color:          #333838;
	font-size:      100%;
	font-weight:    normal;
	margin:         0;
}

/* Footer Center */
.footer-distributed .footer-center {
    margin: 50px 2.5%;
    width:  25%;
}

.footer-distributed .footer-center i {
	background-color:   #333838;
	border-radius:      50%;
	color:              #b6dce0;
	font-size:          25px;
	height:             38px;
	line-height:        40px;
	margin:             10px 15px;
	text-align:         center;
	vertical-align:     middle;
	width:              38px;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size:      18px;
	line-height:    40px;
}

.footer-distributed .footer-center p {
	display:        inline-block;
	color:          #333838;
	margin:         0;
	vertical-align: middle;
}

.footer-distributed .footer-center p span {
	display:        block;
	font-weight:    normal;
	font-size:      80%;
	line-height:    2.0;
}

.footer-distributed .footer-center p a {
	color:              #06646e;
	text-decoration:    none;;
}

/* Footer Right */
.footer-distributed .footer-right {
    margin:     50px 5% 50px 2.5%;
    text-align: justify;
	width:      20%;
}

.footer-distributed .footer-company-about {
	color:          #333838;
	font-size:      70%;
	font-weight:    normal;
	line-height:    1.5;
	margin:         0;
}

.footer-distributed .footer-company-about span {
	color:          #333838;
	display:        block;
	font-size:      120%;
	font-weight:    bold;
	margin-bottom:  10px;
}

.footer-distributed .footer-icons {
	margin-top: 20px;
}

.footer-distributed .footer-icons a {
	background-color:   #333838;
	border-radius:      2px;
	color:              #b6dce0;
	cursor:             pointer;
	display:            inline-block;
    font-size:          25px;
	height:             40px;
	line-height:        40px;
	margin:             0 5px 5px 0;
	text-align:         center;
	width:              40px;
}

/***********************************************************************************************************************
Form
***********************************************************************************************************************/
a.form-icon,
button.form-icon {
    background-color:   #333838;
	border:             none;
	color:              #fff;
	cursor:             pointer;
	display:            inline-block;
    font-size:          25px;
	height:             40px;
	line-height:        40px;
	margin:             20px 5px 5px 0;
	text-align:         center;
	width:              40px;
}

/***********************************************************************************************************************
Header
***********************************************************************************************************************/
#header {
    display:        flex;
    margin-bottom:  10px;
}

#header #title {
    background-color:   #fff;
    color:              #06646e;
    flex-grow:          1;
    margin:             0 50px;
}

#header h1 {
    font-size:  200%;
}

#header h2 {
    font-size:  140%;
}

#header img {
    background-color:   #fff;
    margin:             10px 50px;
    position:           relative;
    width:              150px;
}

/***********************************************************************************************************************
Main
***********************************************************************************************************************/
#main {
    display: flex;
}

/***********************************************************************************************************************
Navigation bar
***********************************************************************************************************************/
#navigation_bar {
    background-color:   #fff;
    bottom:             0;
    width:              250px;
}

#navigation_bar a {
    text-decoration:    none;
}

#navigation_bar > ul > li {
    margin: 0 0 2px 0;
}

#navigation_bar > ul > li:last-child {
    margin: 0;
}

#navigation_bar > ul > li > a {
    background-color:   #65888c;
    border-radius:      0 4px 4px 0;
    color:              #fff;
    display:            block;
}

#navigation_bar > ul > li > a:hover {
    background-color:   #06646e;
}

#navigation_bar > ul > li > a > span {
    display:        block;
    padding:        10px 50px 10px 10px;
    font-size:      100%;
}

#navigation_bar > ul > li.active > a {
    background:     #06646e;
}

#navigation_bar > ul > li.has-sub > a span {
    background: url(../images/navigation-bar/icon-plus.png) 225px center no-repeat;
}

#navigation_bar > ul > li.has-sub.active > a span {
    background: url(../images/navigation-bar/icon-minus.png) 225 center no-repeat;
}

#navigation_bar ul ul {
    display:    none;
    list-style: none;
    padding:    5px 10px 5px 20px;
}

#navigation_bar ul ul a {
    color:      #333838;
    display:    block;
}

#navigation_bar ul ul a:hover {
    color:  #06646e;
}

#navigation_bar ul ul a > span {
    font-size:  80%;
}

/***********************************************************************************************************************
No show
***********************************************************************************************************************/
.no_show {
    display:    none;
}

/***********************************************************************************************************************
Table
***********************************************************************************************************************/
table.report {
    border-collapse:    collapse;
    color:              #333838;
    font-size:          100%;
    width:              100%;
}

table.report a {
    color:              #06646e;
    text-decoration:    none;
}

table.report td,
table.report th {
    font-size:      100%;
    font-weight:    normal;
    padding:        5px;
    width:          10%;
}

table.report td.approved {
    color:  #333838;
}

table.report td.detail {
    width:  80%;
}

table.report td.detail-list {
    line-height:    1.0;
    width:          80%;
}

table.report td.not_approved {
    color:  #f03030;
}

table.report td.title,
             td.subtitle {
    background-color:   #fff;
    color:              #333838;
    padding:            0;
    text-align:         left;
}

table.report td.title {
    font-size:  200%;
}

table.report td.subtitle {
    font-size:  150%;
}

table.report td.long_column,
table.report th.long_column {
    width:  50%;
}

table.report th.detail {
    font-size:  120%;
    width:      20%;
}

table.report tr.data:nth-child(even) {
    background-color: #eee;
}

table.report tr.data:nth-child(odd) {
    background-color: #fff;
}

table.report tr.header {
    background-color:   #06646e;
    color:              #fff;
    font-size:          100%;
    font-weight:        normal;
}
