{% extends "coordination-skeleton.html" %}

{% block window_title %}UPPE - ISW - Convocatoria para el diseño del logotipo{% endblock %}

{% block title %}Convocatoria{% endblock %}
{% block subtitle %}Diseño del logotipo de la carrera de Ingeniería en Software{% endblock %}

{% block content %}
{% load staticfiles %}
<h1 class="title no_show">
    <img class="logo" src="{% static "images/header/logo-small.png" %}" alt="logo" />
    Convocatoria para el diseño del logotipo de la carrera de Ingeniería en Software
</h1>

<h2 class="first">Objetivo</h2>
<p>
    La carrera de Ingeniería en Software de la Universidad Politécnica de Pénjamo convoca al concurso para el diseño del
    logotipo de la carrera.
</p>

<h2>Participantes</h2>
<p>
    El concurso esta dirigido a los estudiantes de la carrera de Ingeniería en Software:
    <ul>
        <li>Podrá participar cualquier alumno inscrito.</li>
        <li>La participación podrá ser de carácter individual o grupal.</li>
        <li>Cada participante o grupo de participantes podrá presentar un máximo de dos propuestas.</li>
    </ul>
</p>

<h2>Sobre las propuestas</h2>
<p>
    Los trabajos deberán satisfacer las siguientes condiciones:
    <ul>
        <li>Ser originales, inéditos y no haber sido presentados en ningun otro concurso.</li>
        <li>
            La técnica será libre; sin embargo, debe tenerse en cuenta que el logotipo habrá de ser reproducido
            posteriormente en distintos soportes tecnológicos y materiales.
        </li>
        <li>Los elementos contenidos en el diseño deberán hacer referencia al programa de Ingeniería en Software.</li>
        <li>
            El diseño deberá contener la leyenda "Ingeniería en Software" y deberá utilizar los colores institucionales.
        </li>
        <li>Para el diseño deberá considerarse su versión en color y en escala de grises.</li>
    </ul>
</p>

<h2>Plazos</h2>
<p>
    La recepción de los trabajos quedará abierta a partir de la presentación pública de la presente Convocatoria y
    podrán ser entregados hasta las 14:00 horas del día 10 de junio de 2016, en las oficinas de la Coordinación de la
    carrera de Ingeniería en Software.
    <ul>
        <li>
            Deberán presentarse en sobre cerrado en cuyo exterior aparezca la leyenda "Logotipo de Ingeniería en
            Software".
        </li>
        <li>La premiación se llevará a cabo el día 1 de julio de 2016 a las 10:20 horas en el auditorio.</li>
    </ul>

</p>

<h2>Entrega de propuestas</h2>
<p>
    Los originales deberán presentarse de la siguiente manera:
    <ul>
        <li>
            Formato impreso: el logotipo deberá presentarse en color sobre fondo blanco.
        </li>
        <li>
            Formato electrónico: se utilizará para ello CD o DVD. Los archivos que contengan imágenes deberán venir en
            formato de mapa de bits y formato vectorial, ambos a todo color. Para el formato de mapa de bits, se
            recomienda la mayor resolución posible.
        </li>
        <li>
            Las propuestas deberán acompañarse con la memoria del logotipo, en máximo una cuartilla, que deberá incluir
            aquellos elementos que, a juicio del creador, expliquen la obra. Así como la ficha técnica del logotipo con
            mención de la herramienta informática utilizada y todos aquellos datos que permitan posteriormente la mejor
            reproducción del mismo.
        </li>
        <li>
            Las propuestas que no cumplan con las especificaciones señaladas en esta Convocatoria no serán aceptadas.
        </li>
        <li>
            Los trabajos que no resulten ganadores no se devolverán a sus autores, se integrarán como parte de la
            memoria de las actividades realizadas.
        </li>
    </ul>
</p>

<h2>Jurado</h2>
<p>
    El Jurado del Concurso estará presidido por el Rector de la Universidad Politécnica de Pénjamo, y quedará compuesto,
    además, por 6 vocales designados por él, todos miembros de la Universidad de Politécnica de Pénjamo, entre los que
    se incluirá al alumno de la carrera de Ingeniería en Software que obtenga el mayor promedio académico durante el
    cuatrimestre Enero-Abril 2016.
</p>
<p>
    <ul>
        <li>
            La constitución del Jurado se hará pública el día de finalización del plazo de presentación de propuestas.
        </li>
        <li>
            Si hubiese dificultades técnicas en la reproducción del logotipo, el Jurado podrá efectuar las
            modificaciones estrictamente necesarias, pero siempre respetando al máximo el trabajo del autor y previa
            consulta a éste.
        </li>
    </ul>
</p>

<h2>Fallo del Jurado y premios</h2>
<p>
    Las propuestas presentadas serán publicadas en el perfil oficial de Facebook de la carrera de Ingeniería en
    Software.
    Las 3 obras que reciban más “Me gusta” serán incluidas entre las finalistas.
    El Jurado calificará las propuestas finalistas y las ordenará en función de las calificaciones obtenidas.
    <ul>
        <li>
            El logotipo ganador del Primer Lugar, será utilizado como parte de la imagen de la carrera de Ingeniería en
            Software.
        </li>
        <li>
            Adicionalmente se otorgaran distinciones a los 3 mejores trabajos y constancias a todos los participantes.
        </li>
        <li>
            El Jurado se reserva el derecho a declarar desierto el concurso y convocar un nuevo concurso o nuevas bases
            para la presentación de nuevos trabajos.
        </li>
        <li>El fallo del Jurado se dará a conocer en un acto público y será inapelable e irrevocable.</li>
    </ul>
</p>

<h2>Propiedad de la obra</h2>
<p>
    Sin perjuicio de las reservas de los derechos irrenunciables que la legislación sobre propiedad intelectual
    reconozca al autor, la presentación de los trabajos llevará implícito el consentimiento del ganador a ceder en
    exclusiva a la carrera de Ingeniería den Software de la Universidad Politécnica de Pénjamo los derechos de
    reproducción, cesión, distribución, comunicación pública y transformación sin pago ni contraprestación al autor.
</p>
<p>
    En caso de que así se estime oportuno, la rectoría de la universidad procederá a inscribir el diseño del logotipo
    ganador y los derechos que sobre el mismo ostente en los registros oficiales que considere necesarios.
</p>

<h2>
    Aceptación de las bases
</h2>
<p>
    La participación en esta convocatoria supone el conocimiento y la total aceptación de las presentes bases por parte
    de los autores.
</p>

<h2>
    General
</h2>
<p>
    Cualquier situación no prevista en estas bases será resuelta por el Jurado en la forma que estime más oportuna.
</p>

<br />
<br />
<br />
<p class="center">
    Atentamente <br />
    Sergio Alejandro Mota Gutiérrez <br />
    Coordinador de Ingeniería en Software
</p>
{% endblock %}