{% extends "scipe-skeleton.html" %}

{% block title %}Eliminar Generación{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
<p>¿Esta seguro de que quiere eliminar la generación {{ generation }}?</p>

<form action="{% url "generations-delete" pk=generation.id %}" method="POST">
    {% csrf_token %}

    <button type="submit" class="form-icon"><i class="fa fa-check-square"></i></button>
    <a class="form-icon" href="{% url "generations-list" %}"><i class="fa fa-times-circle"></i></a>
</form>
{% endblock %}