{% extends "coordination-skeleton.html" %}

{% block window_title %}UPPE - ISW - Convocatoria para el primer concurso de desarrollo de software{% endblock %}

{% block title %}Convocatoria{% endblock %}
{% block subtitle %}Primer concurso de desarrollo de software{% endblock %}

{% block content %}
{% load staticfiles %}
<h1 class="title no_show">
    <img class="logo" src="{% static "images/header/logo-small.png" %}" alt="logo" />
    Convocatoria para el primer concurso de desarrollo de software
</h1>

<h2 class="first">Objetivo</h2>
<p>
    La carrera de Ingeniería en Software de la Universidad Politécnica de Pénjamo convoca al primer concurso de
    desarrollo de software.
</p>

<h2>Participantes</h2>
<p>
    El concurso esta dirigido a los estudiantes de la carrera de Ingeniería en Software:
    <ul>
        <li>Podrá participar cualquier alumno inscrito.</li>
        <li>La participación podrá ser de carácter individual o grupal.</li>
        <li>Cada participante o grupo de participantes podrá presentar un máximo de una propuesta.</li>
    </ul>
</p>

<h2>Sobre las propuestas</h2>
<p>
    Los trabajos deberán satisfacer las siguientes condiciones:
    <ul>
        <li>El software deberá haber sido desarrollado en el cuatrimestre Enero-Abril 2016.</li>
    </ul>
</p>

<h2>Plazos</h2>
<p>
    El registro de los trabajos quedará abierto a partir de la presentación pública de la presente Convocatoria y podrán
    ser registrados hasta las 14:00 horas del día 8 de abril de 2016, en las oficinas de la Coordinación de la carrera
    de Ingeniería en Software.
    <ul>
        <li>
            Deberán presentarse en sobre cerrado en cuyo exterior aparezca la leyenda "Primer concurso de desarrollo de
            software".
        </li>
        <li>
            La evaluación y premiación se llevará a cabo el día 15 de abril de 2016 en el pasillo exterior de la Unidad
            de docencia 1.
        </li>
    </ul>

</p>

<h2>Entrega de propuestas</h2>
<p>
    Los originales deberán presentarse de la siguiente manera:
    <ul>
        <li>
            Formato impreso en el que se indique: el(los) concursante(s), el nombre del proyecto y una breve descripción
            (mínimo un cuarto de cuartilla, máximo una cuartilla).
        </li>
        <li>
            Las propuestas que no cumplan con las especificaciones señaladas en esta Convocatoria no serán aceptadas.
        </li>
    </ul>
</p>

<h2>Jurado</h2>
<p>
    El Jurado del Concurso estará compuesto por profesores áreas afines al desarrollo de software de Escuelas de Nivel
    Medio Superior y empresarios de la región.
</p>
<p>
    <ul>
        <li>
            La constitución del Jurado se hará pública el día de finalización del plazo de presentación de propuestas.
        </li>
    </ul>
</p>

<h2>Fallo del Jurado y premios</h2>
<p>
    El Jurado calificará las propuestas y las ordenará en función de las calificaciones obtenidas.
    <ul>
        <li>
            Se otorgaran distinciones a los 3 mejores trabajos y constancias a todos los participantes.
        </li>
        <li>El fallo del Jurado se dará a conocer en un acto público y será inapelable e irrevocable.</li>
    </ul>
</p>

<h2>
    Aceptación de las bases
</h2>
<p>
    La participación en esta convocatoria supone el conocimiento y la total aceptación de las presentes bases por parte
    de los autores.
</p>

<h2>
    General
</h2>
<p>
    Cualquier situación no prevista en estas bases será resuelta por el Jurado en la forma que estime más oportuna.
</p>

<br />
<br />
<br />
<p class="center">
    Atentamente <br />
    Sergio Alejandro Mota Gutiérrez <br />
    Coordinador de Ingeniería en Software
</p>
{% endblock %}